

#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: montserrat;
}

.pointer{
  cursor: pointer;
}

.Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  font-size: large;
  padding: 2rem 0 0;
}

#text_navbar{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#text_navbar > a {
  color: white;
    text-decoration: none;
}

#text_navbar p {
  margin-bottom: 0;
}

.translate-btn{
  all: unset; /* Remove todos os estilos padrão do botão */
  background-color: black;
  padding: 8px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.translate-icon{
  width: 28px;
  height: 28px;
}